<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension
         id="application"
         name="%applicationName"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/TodoFile.png">
         <run class="de.sebastianbenz.task.app.TaskEditorApplication"/>
      </application>
   </extension>
   
   <extension
         id="perspective"
         name="%perspectiveName"
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/TodoFile.png"
            class="de.sebastianbenz.task.app.TaskPerspective"
            fixed="true"
            name="%perspectiveName"
            id="de.sebastianbenz.task.app.TaskPerspective"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%openFile.description"
            id="de.sebastianbenz.task.app.commands.OpenFile"
            name="%openFile.name"/>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%newTodo.description"
            id="de.sebastianbenz.task.app.commands.NewTodo"
            name="%newTodo.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.sebastianbenz.task.app.commands.OpenFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <key
            commandId="de.sebastianbenz.task.app.commands.NewTodo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   
   <!-- must come after the command definition above -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%fileActionSet.label"
            visible="true"
            id="de.sebastianbenz.task.app.fileActionSet">
         <action
               id="de.sebastianbenz.task.app.actions.OpenFile"
               icon="icons/open.gif"
               label="%openFile.label"
               tooltip="%openFile.tooltip"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               menubarPath="file/new.ext"
               class="de.sebastianbenz.task.app.actions.OpenFileAction"
               definitionId="de.sebastianbenz.task.app.commands.OpenFile"
               style="push"
               state="false"/>
         <action
               class="de.sebastianbenz.task.app.actions.NewTodoAction"
               definitionId="de.sebastianbenz.task.app.commands.NewTodo"
               icon="icons/TodoFile.png"
               id="de.sebastianbenz.task.app.actions.NewTodo"
               label="%newTodo.label"
               menubarPath="file/new.ext"
               state="false"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               tooltip="%openFile.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         id="taskeditor"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.sebastianbenz.task.application.application"
            name="Task Editor">
         <property
               name="windowImages"
               value="icons/Icon_16.png,icons/Icon_32.png,icons/Icon_48.png,icons/Icon_64.png,icons/Icon_128.png">
         </property>
         <property
               name="aboutText"
               value="A simple textual TODO editor.">
         </property>
         <property
               name="aboutImage"
               value="icons/eclipse_lg.gif">
         </property>
         <property
               name="appName"
               value="Task Editor">
         </property>
      </product>
   </extension>
   
   <extension
         id="activities"
         point="org.eclipse.ui.activities">
<activity
description="Disable Activities"
name="Disable"
id="de.sebastianbenz.task.disabled">
</activity> <activityPatternBinding
activityId="de.sebastianbenz.task.disabled"
pattern=".*/org.eclipse.search.*">
</activityPatternBinding>
</extension>
</plugin>
