<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2011 Sebastian Benz.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Sebastian Benz - initial API and implementation
 -->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sebastianbenz.de/task/TaskPaper" 
       class = "de.sebastianbenz.task.taskPaper.TaskPaperPackage"
       genModel = "de/sebastianbenz/task/TaskPaper.genmodel" /> 
	
  </extension>




</plugin>
