<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="todo,taskpaper"
              icon="icons/TodoFile.png"
              id="de.sebastianbenz.task.Task"
              name="Task Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.sebastianbenz.task.Task.validate">
         <activeWhen>
            <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.sebastianbenz.task.Task.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.sebastianbenz.task.Task" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.sebastianbenz.task.Task"
            name="Task">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Task"/>
        </page>
        <page
            category="de.sebastianbenz.task.Task"
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.sebastianbenz.task.Task.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Task"/>
        </page>
        <page
            category="de.sebastianbenz.task.Task"
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.sebastianbenz.task.Task.templates"
            name="Templates">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Task"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.sebastianbenz.task.ui.keyword_Task"
            label="Task"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.sebastianbenz.task.Task.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.sebastianbenz.task.Task.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.sebastianbenz.task.Task.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="todo">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="todo">
        </resourceServiceProvider>
    </extension>

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="taskpaper">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="taskpaper">
        </resourceServiceProvider>
    </extension>



	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.sebastianbenz.task.Task.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.sebastianbenz.task.Task.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="__query"
            id="de.sebastianbenz.task.Query"
            name="Query Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Query.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.sebastianbenz.task.Query.validate">
         <activeWhen>
            <reference
                    definitionId="de.sebastianbenz.task.Query.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.sebastianbenz.task.Query.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.sebastianbenz.task.Query" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.sebastianbenz.task.Query"
            name="Query">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Query"/>
        </page>
        <page
            category="de.sebastianbenz.task.Query"
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.sebastianbenz.task.Query.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Query"/>
        </page>
        <page
            category="de.sebastianbenz.task.Query"
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.sebastianbenz.task.Query.templates"
            name="Templates">
            <keywordReference id="de.sebastianbenz.task.ui.keyword_Query"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.sebastianbenz.task.ui.keyword_Query"
            label="Query"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.sebastianbenz.task.Query.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.sebastianbenz.task.Query.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.sebastianbenz.task.Query.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.sebastianbenz.task.Query.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Query.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="__query">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="__query">
        </resourceServiceProvider>
    </extension>




   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.sebastianbenz.task.ui"
            name="Todo">
      </category>
      <view
            allowMultiple="false"
            category="de.sebastianbenz.task.ui"
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:de.sebastianbenz.task.ui.views.TodoView"
            icon="icons/TodoFile.png"
            id="de.sebastianbenz.task.ui.views.TodoView"
            name="Todos"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.sebastianbenz.task.ui.QueryExecutableExtensionFactory:de.sebastianbenz.task.ui.views.ViewerUpdater">
      </participant>
   </extension>
   <!-- Custom handlers -->
   <extension
		point="org.eclipse.ui.commands">
		<command
			description="Clear all done tasks."
			id="de.sebastianbenz.task.removedone"
			name="Clear done tasks">
		</command>
		<command
            categoryId="de.sebastianbenz.task.ui.commands.category"
            id="de.sebastianbenz.task.ui.commands.exportHtml"
            name="Export to HTML">
            </command>
		<command	
            categoryId="de.sebastianbenz.task.ui.commands.category"
            id="de.sebastianbenz.task.ui.commands.exportConfluence"
            name="Export to Confluence">
      </command>
      <category
            id="de.sebastianbenz.task.ui.commands.category"
            name="Export">
      </category>
	</extension>
 <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="de.sebastianbenz.task.removedone">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.sebastianbenz.task.Task.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="de.sebastianbenz.task.ui.commands.exportHtml">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.sebastianbenz.task.Task.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="de.sebastianbenz.task.ui.commands.exportConfluence">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.sebastianbenz.task.Task.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:de.sebastianbenz.task.ui.handlers.RemoveDoneTasks"
            commandId="de.sebastianbenz.task.removedone">
            <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
		<handler
              class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:de.sebastianbenz.task.ui.handlers.HtmlExportHandler"
              commandId="de.sebastianbenz.task.ui.commands.exportHtml">
              <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </activeWhen>
        </handler>        
        <handler
              class="de.sebastianbenz.task.ui.TaskExecutableExtensionFactory:de.sebastianbenz.task.ui.handlers.ConfluenceExportHandler"
              commandId="de.sebastianbenz.task.ui.commands.exportConfluence">
              <activeWhen>
                <reference
                    definitionId="de.sebastianbenz.task.Task.Editor.opened">
                </reference>
            </activeWhen>
        </handler>        
    </extension>  
       <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.sebastianbenz.task.removedone"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
      <key
            commandId="de.sebastianbenz.task.ui.commands.exportHtml"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="de.sebastianbenz.task.ui.commands.exportConfluence"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
</plugin>
